<!doctype html>
<html>
    <body>
 		<form method="POST"> 
			{{form.search}}
			<input type="submit" value="Search"></input>
		</form>
        <div id="root"></div>
<!-- 
        <script type="application/javascript" src="https://unpkg.com/react@16.8.5/umd/react.production.min.js"></script>
        <script type="application/javascript" src="https://unpkg.com/react-dom@16.8.5/umd/react-dom.production.min.js"></script>
        <script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
        <script src="https://unpkg.com/@material-ui/core/umd/material-ui.production.min.js" crossorigin="anonymous"></script>
        <script type="text/babel" src="{{url_for('static',filename='submit.js')}}"></script>
 -->
</html>

